h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 6em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:link {
  color: #22A20A;
}

a:visited {
  color: #22A20A;
}

a:focus {
  color: #FBD503;
}

a:hover {
  color: #770BA7;
  text-decoration: none;
}

a:active {
  color: #770BA7;
  text-decoration: none;
}

.header-title {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Reenie Beanie', cursive;
  font-size: 8em;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.main-choice {
  width: 200px;
  height: 290px;
  border: 3px solid #3D3D37;
  border-radius: 10px;
  background-color: #F4F7EF;
  margin: 5px;
  font-size: 1.7em;
  text-align: center;
  position: relative;
  display: block;
}

.main-choice-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #F4F7EF;
  border: 0px;
  border-radius: 6px;
  display: block;
}

/* Needs to be fixed.  Not currently used */
.main-choice-image {
  /*
    background-image: url("image/honeycomb.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-color: $light-grey;
    background-size: 100% 100%;
    position: relative; */
}

#main-image-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main-choice-intro {
  background-image: url("image/buttonHive1.jpg");
  display: block;
  /*
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    */
}

#main-choice-starting {
  background-image: url("image/buttonHive2.jpg");
}

#main-choice-gendustry {
  background-image: url("image/buttonHive3.jpg");
}

#main-choice-career {
  background-image: url("image/buttonHive4.jpg");
}

#main-choice-links {
  background-image: url("image/buttonHive5.jpg");
}

.tipbox {
  border: 3px dashed #3D3D37;
  background-color: #95E806;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
  vertical-align: center;
}

.tipbox a:link {
  color: #770BA7;
}

.tipbox a:visited {
  color: #770BA7;
}

.tipbox a:focus {
  color: #FBD503;
}

.tipbox a:hover {
  color: #F0F905;
  text-decoration: none;
}

.tipbox a:active {
  color: #FBD503;
  text-decoration: none;
}

.tipbox::before {
  content: "Tip: ";
  font-weight: bold;
}

.contains-tipbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contains-toggle-info {
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  background-color: #F4F7EF;
}

.contains-toggle-info p {
  margin-bottom: 0;
}

.contains-toggle-info .col {
  border: 3px dashed #3D3D37;
  border-radius: 10px;
  background-color: #FBD503;
  padding: 10px;
}

html {
  width: 100%;
  height: 100%;
}

.row {
  background-color: #F4F7EF;
}

.row img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.col-md-4 {
  padding-left: 5%;
  padding-right: 5%;
}

.col-md-4 img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.image-stacking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-stacking img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  font-size: 2em;
}

h2 {
  margin-top: 20px;
}

@media (min-width: 770px) {
  /* Possible override some of bootstrap's defaults */
  .container-addon {
    max-width: 70%;
    background-color: #F4F7EF;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bee-lineage {
    font-size: 0.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bee-lineage img {
    max-width: 30px;
  }
  .bee-lineage .lineage-arrow {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
  }
  .bee-lineage .image-stacking {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .bee-lineage .image-stacking img {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .show-when-large {
    display: inherit;
  }
  .show-when-small {
    display: none;
  }
  body {
    background-image: url("image/main-flower-exploded.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    color: #3D3D37;
    height: 100%;
  }
}

@media (max-width: 769px) {
  /* Possible override some of bootstrap's defaults */
  .container-addon {
    background-color: #F4F7EF;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  body {
    color: #3D3D37;
    width: 100%;
    height: 100%;
  }
  .bee-lineage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.75em;
  }
  .bee-lineage img {
    max-width: 25px;
  }
  .bee-lineage .lineage-arrow {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
  }
  .bee-lineage .image-stacking {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .bee-lineage .image-stacking img {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .show-when-large {
    display: none;
  }
  .show-when-small {
    display: inherit;
  }
  .img-smaller {
    max-width: 45%;
  }
  .header-title {
    font-size: 5em;
  }
  h1 {
    font-size: 5em;
  }
}
/*# sourceMappingURL=style.css.map */