$yellow: #F0F905;
$spring-green: #95E806;
$green: #22A20A;
$orange: #FBD503;
$magenta: #770BA7;
$dark-grey: #3D3D37;
$light-grey: #F4F7EF;

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 6em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: $green;
}

a:visited {
    color: $green;
}

a:focus {
    color: $orange;
}

a:hover {
    color: $magenta;
    text-decoration: none;
}

a:active {
    color: $magenta;
    text-decoration: none;
}


.header-title {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 8em;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.main-choice {
    width: 200px;
    height: 290px;
    border: 3px solid $dark-grey;
    border-radius: 10px;
    background-color: $light-grey;
    margin: 5px;
    font-size: 1.7em;
    text-align: center;
    position: relative;
    display: block;
}

.main-choice-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $light-grey;
    border: 0px;
    border-radius: 6px;
    display: block;
}

/* Needs to be fixed.  Not currently used */
.main-choice-image {
    /*
    background-image: url("image/honeycomb.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-color: $light-grey;
    background-size: 100% 100%;
    position: relative; */
}

#main-image-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



#main-choice-intro {
    background-image: url("image/buttonHive1.jpg");
    display: block;
    /*
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    */
}

#main-choice-starting {
    background-image: url("image/buttonHive2.jpg");
}

#main-choice-gendustry {
    background-image: url("image/buttonHive3.jpg");
}

#main-choice-career {
    background-image: url("image/buttonHive4.jpg");
}

#main-choice-links {
    background-image: url("image/buttonHive5.jpg");
}

.tipbox {
    border: 3px dashed $dark-grey;
    background-color: $spring-green;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    vertical-align: center;

    a {
        text-decoration: none;
        font-weight: bold;
    }
    
    a:link {
        color: $magenta;
    }
    
    a:visited {
        color: $magenta;
    }
    
    a:focus {
        color: $orange;
    }
    
    a:hover {
        color: $yellow;
        text-decoration: none;
    }
    
    a:active {
        color: $orange;
        text-decoration: none;
    }
}

.tipbox::before {
    content: "Tip: ";
    font-weight: bold;
}

.contains-tipbox {
    display: flex;
    align-items: center;
}

.contains-toggle-info {
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    background-color: $light-grey;

    p {
        margin-bottom: 0;
    }

    .col {
        border: 3px dashed $dark-grey;
        border-radius: 10px;
        background-color: $orange;
        padding: 10px;
    }
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    a {
        font-size: 2em;
    }
}

html {
    width: 100%;
    height: 100%;
}

.row {
    background-color: $light-grey;

    img {
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.col-4 {
    img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.image-stacking {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        padding-bottom: 20px;
    }
}

.bee-lineage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    img {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) {
    /* Possible override some of bootstrap's defaults */
    .container-addon {
        max-width: 70%;
        background-color: $light-grey;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    body {
        background-image: url("image/main-flower-exploded.jpg");
        background-repeat: repeat-x;
        background-position: center;
        background-attachment: fixed;
        background-size: contain;
        color: $dark-grey;
        height: 100%;
    }
}

@media (max-width: 599px) {
    /* Possible override some of bootstrap's defaults */
    .container-addon {
        background-color: $light-grey;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    body {
        color: $dark-grey;
        width: 100%;
        height: 100%;
    }
}
